@if (logoLink()) {
  <a class="sider-header-link" [href]="logoLink()" target="_blank">
    @if (showLogo()) {
      <img class="sider-header-logo" [src]="logoSrc()" [alt]="logoAlt()">
    }
    @if (showTitle()) {
      <h1 class="sider-header-title">{{ title() }}</h1>
    }
  </a>
} @else {
  <div class="sider-header-content">
    @if (showLogo()) {
      <img class="sider-header-logo" [src]="logoSrc()" [alt]="logoAlt()">
    }
    @if (showTitle()) {
      <h1 class="sider-header-title">{{ title() }}</h1>
    }
  </div>
}
