@if (user()) {
  @let userInfo = user();
  <div
    #userInfoArea
    nz-dropdown
    [nzDropdownMenu]="userMenu"
    nzTrigger="hover"
    nzPlacement="bottomRight"
    [nzOverlayStyle]="dropdownStyle()"
    class="user-info-trigger"
  >
    <nz-avatar
      nzSize="default"
      [nzSrc]="userInfo.avatar"
      nzText="{{ userInfo.name.charAt(0) || 'U' }}"
      class="user-info-avatar"
    ></nz-avatar>
    <span class="user-name">{{ userInfo.name }}</span>
  </div>

  <nz-dropdown-menu #userMenu="nzDropdownMenu">
    <nz-card class="user-info-card" [nzBordered]="false">
      <div class="user-info-profile-header">
        <nz-space [nzSize]="'large'" nzAlign="center">
          <nz-avatar
            nzSize="large"
            [nzSrc]="userInfo.avatar"
            nzText="{{ userInfo.name.charAt(0) || 'U' }}"
            class="user-info-profile-avatar"
          ></nz-avatar>
          <div>
            <div class="user-info-name">{{ userInfo.name }}</div>
            @if (userInfo.role) {
              <div class="user-info-role">{{ userInfo.role }}</div>
            }
            <div class="user-info-status">
              <span nz-icon nzType="check-circle" nzTheme="outline" class="user-info-status-icon"></span>
              <span>{{ 'USER_CARD.STATUS_ONLINE' | translate }}</span>
            </div>
          </div>
        </nz-space>
      </div>

      <ul nz-menu nzSelectable="false" class="user-info-menu">
        <li nz-menu-item class="user-info-menu-item">
          <nz-space [nzSize]="'middle'">
            <span nz-icon nzType="user" nzTheme="outline" class="user-info-menu-icon user-info-menu-icon-blue"></span>
            <div class="user-info-menu-text">
              <div class="user-info-menu-title">{{ 'LAYOUT.HEADER.PROFILE' | translate }}</div>
              <div class="user-info-menu-desc">{{ 'USER_CARD.PROFILE_DESCRIPTION' | translate }}</div>
            </div>
          </nz-space>
        </li>
        <li nz-menu-item class="user-info-menu-item">
          <nz-space [nzSize]="'middle'">
            <span nz-icon nzType="setting" nzTheme="outline" class="user-info-menu-icon user-info-menu-icon-purple"></span>
            <div class="user-info-menu-text">
              <div class="user-info-menu-title">{{ 'LAYOUT.HEADER.SETTINGS' | translate }}</div>
              <div class="user-info-menu-desc">{{ 'USER_CARD.SETTINGS_DESCRIPTION' | translate }}</div>
            </div>
          </nz-space>
        </li>
        <li nz-menu-item class="user-info-menu-item">
          <nz-space [nzSize]="'middle'">
            <span nz-icon nzType="bell" nzTheme="outline" class="user-info-menu-icon user-info-menu-icon-yellow"></span>
            <div class="user-info-menu-text">
              <div class="user-info-menu-title">{{ 'USER_CARD.NOTIFICATIONS' | translate }}</div>
              <div class="user-info-menu-desc">{{ 'USER_CARD.NOTIFICATIONS_DESCRIPTION' | translate }}</div>
            </div>
          </nz-space>
        </li>
      </ul>

      <div class="user-info-footer">
        <button
          nz-button
          nzType="default"
          nzDanger
          nzBlock
          (click)="logout()"
          class="user-info-logout-button"
        >
          <span nz-icon nzType="logout"></span>
          <span>{{ 'LAYOUT.HEADER.LOGOUT' | translate }}</span>
        </button>
      </div>
    </nz-card>
  </nz-dropdown-menu>
}
