:host {
  display: flex;
  flex-shrink: 0;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightgray;
  background: var(--bg-white);
}

p {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: var(--text-secondary);
}
