:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
  background-color: white;
}

.app-alyout-left {
  height: 100vh;
}

.app-layout-right {
  height: 100vh;
}

.app-layout-sidebar {
  position: relative;
  z-index: var(--z-index-fixed);
  min-height: 100vh;
  box-shadow: var(--sidebar-shadow);
  border-right: 1px solid lightgray;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.app-layout-header {
  height: 48px;
  background: var(--bg-white);
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.app-layout-content {
  padding: 0 0 0 0;
  margin: 0px;
  background: white;
  height: 100%;
}

.app-layout-footer {
  height: 48px;
  background: white;
  border-top: 1px solid lightgray;
}

.app-layout-sider-header {
  height: 48px;
  background: var(--bg-white);
  border-bottom: 1px solid lightgray;
}

.app-layout-sider-content {
  height: 100%;
}

.app-layout-sider-footer {
  height: 48px;
  background: white;
  border-top: 1px solid lightgray;
  flex-shrink: 0;
}
