:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
  background-color: white;
  display: flex;
}

.app-layout-right {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-layout-sidebar {
  position: relative;
  z-index: var(--z-index-fixed);
  box-shadow: var(--sidebar-shadow);
  border-right: 1px solid lightgray;
  background-color: white;
}

.app-layout-sider-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app-layout-header {
  height: 48px;
  background: var(--bg-white);
  border-bottom: 1px solid lightgray;
  background-color: white;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
}

.app-layout-content {
  padding: 0 0 0 0;
  margin: 0px;
  background: white;
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.app-layout-footer {
  height: 48px;
  background: white;
  border-top: 1px solid lightgray;
  flex-shrink: 0;
}
