<ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed()">
  @for (item of menuData(); track item.text) {
    @if (item.children && item.children.length > 0) {
      <li nz-submenu [nzOpen]="item.open" [nzTitle]="item.key | translate" [nzIcon]="item.icon">
        <ul>
          @for (child of item.children; track child.text) {
            <li nz-menu-item nzMatchRouter>
              @if (child.icon) {
                <span nz-icon [nzType]="child.icon"></span>
              }
              @if (child.link) {
                <a routerLink="{{ child.link }}">{{ child.key | translate }}</a>
              } @else {
                <a>{{ child.key | translate }}</a>
              }
            </li>
          }
        </ul>
      </li>
    } @else {
      <li nz-menu-item nzMatchRouter>
        @if (item.icon) {
          <span nz-icon [nzType]="item.icon"></span>
        }
        @if (item.link) {
          <a routerLink="{{ item.link }}">{{ item.key | translate }}</a>
        } @else {
          <a>{{ item.key | translate }}</a>
        }
      </li>
    }
  }
</ul>
