<div class="tabbar-container">
  <div #tabContainer class="tab-container">
    <div #tabsWrapper class="tabs-wrapper">
      @for (tab of visibleTabs(); track tab.key; let i = $index) {
        <button
          class="tab-button"
          [class.active]="i === selectedIndex()"
          [class.inactive]="i !== selectedIndex()"
          (click)="onTabClick(i)"
          (contextmenu)="onTabContextMenu(i, $event, tabManagementMenu)"
        >
          <div class="tab-content">
            @if (tab.icon) {
              <nz-icon
                [nzType]="tab.icon"
                [class.active]="i === selectedIndex()"
                [class.inactive]="i !== selectedIndex()"
                class="tab-icon"
              />
            }
            <span class="tab-label" [attr.title]="tab.label | translate">
              {{ tab.label | translate }}
            </span>
          </div>
          <button
            class="close-button"
            [class.hidden]="tab.closable === false"
            (click)="tab.closable !== false ? closeTab(i, $event) : null"
          >
            ×
          </button>
        </button>
      }
    </div>

    @if (overflowTabs().length > 0) {
      <button
        nz-dropdown
        [nzDropdownMenu]="overflowMenu"
        nzPlacement="bottomRight"
        class="overflow-dropdown-button"
      >
        <nz-icon nzType="ellipsis" />
      </button>
    }
  </div>
</div>

<!-- Overflow Tabs Dropdown Menu -->
<nz-dropdown-menu #overflowMenu="nzDropdownMenu">
  <ul nz-menu>
    @for (tab of overflowTabs(); track tab.key; let i = $index) {
      <li
        nz-menu-item
        [class.selected]="tab.key === tabs()[selectedIndex()]?.key"
        (click)="onOverflowTabClick(tab)"
        class="menu-item"
      >
        <span class="tab-content">
          @if (tab.icon) {
            <nz-icon [nzType]="tab.icon" class="tab-icon" />
          }
          <span>{{ tab.label | translate }}</span>
        </span>
      </li>
    }
  </ul>
</nz-dropdown-menu>

<!-- Tab Management Dropdown Menu -->
<nz-dropdown-menu #tabManagementMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="closeCurrentTab()" [nzDisabled]="!isTabClosable()">
      <span>{{ 'TABS.MANAGEMENT.CLOSE_CURRENT_TAB' | translate }}</span>
    </li>
    <li nz-menu-item (click)="closeOtherTabs()">
      <span>{{ 'TABS.MANAGEMENT.CLOSE_OTHER_TABS' | translate }}</span>
    </li>
    <li nz-menu-item (click)="closeAllTabs()">
      <span>{{ 'TABS.MANAGEMENT.CLOSE_ALL_TABS' | translate }}</span>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="cleanupDuplicateTabs()">
      <span>清理重复标签页</span>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="reloadCurrentTab()">
      <span>{{ 'TABS.MANAGEMENT.RELOAD_CURRENT_TAB' | translate }}</span>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="pinCurrentTab()" [nzDisabled]="isTabPinned() || isTabDefault()">
      <span>{{ 'TABS.MANAGEMENT.PIN_CURRENT_TAB' | translate }}</span>
    </li>
  </ul>
</nz-dropdown-menu>
