:root {
  /* Colors */
  --primary-color: #1890ff;
}

nz-layout,
.ant-layout {
  height: 100%;
}

nz-sider,
.ant-layout-sider {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  min-height: 0 !important;
}

nz-header,
.ant-layout-header {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 48px !important;
}

nz-content,
.ant-layout-content {
  padding: 0 !important;
  margin: 0 !important;
}

nz-footer,
.ant-layout-footer {
  padding: 0 !important;
  margin: 0 !important;
}
