:root {
  /* Colors */
  --primary-color: #1890ff;
}

nz-layout,
.ant-layout {
  height: 100%;
}

nz-sider,
.ant-layout-sider {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  min-height: 0 !important;
}
